<%= link_to "Record a new project", "/projects/new" %>
<ul>
<%@projects.each do |project|%>
  <%if project.description.present?%>
    <li><%= link_to "#{project.name}", "/projects/#{project.id}"%> - <%=project.description%></li>
  <%else%>
    <li><%= link_to "#{project.name}", "/projects/#{project.id}"%></li>
  <%end%>
<%end%>
</ul>
