#wrapper{
    width: 400px;
    margin: auto;
    background-color: #ccc;
    padding-top: 1px;
    margin-top: -8px;
    text-align: center;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

li{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

header{
    background-color: #2980b9;
    color: #ecf0f1;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 70px;
    height: 100px;
    margin-bottom: 20px;
    padding-top: 1px;
    margin-top: -8px;
    text-align: center;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: #ecf0f1;
    display: inline-block;
    padding: 5px;
    background-color: #27ae60;
    margin: 2px 0;
    border-radius: 5px;
    font-size: 0.8em;
    border: 1px solid #27ae60;
}

a:hover{
    background-color: #2ecc71;
}

footer{
    background-color: #2980b9;
    color: #ecf0f1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 0.9em;
    margin-top: 30px;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 75%;
    height: 20px;
    padding: 3px 5px;
    border: 1px solid #27ae60;
    border-radius: 5px;
}

input[type="submit"]{
    height: 26px;
    width: 78%;
    background-color: #27ae60;
    color: #ecf0f1;
}

input[type="submit"]:hover{
    background-color: #2ecc71;
}

.validation {
    color: #e74c3c;
    list-style-type: disc;
    text-align: left;
    margin-left: 60px;
}

.field_with_errors input {
    background-color: #e74c3c;
}
